<%= form_for(@guild) do |f| %>
  
  <div id="error">
    <% if @guild.errors.any? %>
      <h2> <%= pluralize(@guild.errors.count, "error") %> prevented this guild from being saved:</h2>
      <ul>
      <% @guild.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
      </ul>
    <% end %>
  </div>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :purpose %>
    <%= f.text_field :purpose %>
    <%= f.label :membership %>
    <%= f.text_field :membership %>
    <%= f.submit %>
<% end %>