<%= form_for @background do |f| %>
    <p><%= f.label "Project" %> <%= f.collection_select :project_id, Project.all, :id, :name %>

    <p><%= f.label "Support Doc Type" %> <%= f.text_field :support_type %></p>
    <p><%= f.label "File Location" %> <%= f.text_field :file_location %></p>
    
    <%= f.submit "Log a Support Document" %>
<% end %>