<h1>Build A Creature</h1>
<%= form_tag creatures_path do %>
    <label>Creature Name</label> <%= text_field_tag :name %><br>
    <label>Creature Epithet</label> <%= text_field_tag :epithet %><br>
    <label>Special Power</label> <%= text_field_tag :power %><br>
    <br>
    <%= submit_tag "It's alive! It's aliiiiiive!!" %>

<% end %>