<h1>Build A Creature</h1>
<%= form_tag creatures_path do %>
    <p><label>Creature Name</label> <%= text_field_tag :name %></p>
    <p><label>Creature Epithet</label> <%= text_field_tag :epithet %></p>
    <p><label>Special Power</label> <%= text_field_tag :power %></p>
    <br>
    <%= submit_tag "It's alive! It's aliiiiiive!!" %>

<% end %>