<h3><%= @creature.to_s %></h3>

<p><%= @creature.power %></p>

<%= form_tag creature_path(@creature.id), method: "delete" do %>
    <%= submit_tag "Delete #{@creature.to_s}" %>
  <% end %>

<%= link_to "Home" creatures_path %>