<%= form_for(@project) do |f| %>
    <p><%= f.label "Genre" %> <%= f.text_field :genre_name, list: "genres_autocomplete" %>
    <datalist id="genres_autocomplete">
        <% Genre.all.each do |genre| %>
            <option value="<%= genre.name %>">
        <% end %>
    </datalist>
    </p>
    
    <p><%= f.label :name %> <%= f.text_field :name %></p>
    <p><%= f.label :length %> <%= f.text_field :length %></p>
    <p><%= f.label :word_count %> <%= f.text_field :word_count %></p>
    <p><%= f.label :summary %><br>
    <%= f.text_area :summary %><br></p>
    <%= f.submit %>
<% end %>